.ui-timepicker-wrapper {
	overflow-y: auto;
	height: 150px;
	width: 6.5em;
	background: #fff;
	border: 1px solid #ddd;
	-webkit-box-shadow:0 5px 10px rgba(0,0,0,0.2);
	-moz-box-shadow:0 5px 10px rgba(0,0,0,0.2);
	box-shadow:0 5px 10px rgba(0,0,0,0.2);
	outline: none;
	z-index: 10001;
	margin: 0;
}

.ui-timepicker-wrapper.ui-timepicker-with-duration {
	width: 13em;
}

.ui-timepicker-wrapper.ui-timepicker-with-duration.ui-timepicker-step-30,
.ui-timepicker-wrapper.ui-timepicker-with-duration.ui-timepicker-step-60 {
	width: 11em;
}

.ui-timepicker-list {
	margin: 0;
	padding: 0;
	list-style: none;
}

.ui-timepicker-duration {
	margin-left: 5px; color: #888;
}

.ui-timepicker-list:hover .ui-timepicker-duration {
	color: #888;
}

.ui-timepicker-list li {
	padding: 3px 0 3px 5px;
	cursor: pointer;
	white-space: nowrap;
	color: #000;
	list-style: none;
	margin: 0;
}

.ui-timepicker-list:hover .ui-timepicker-selected {
	background: #fff; color: #000;
}

li.ui-timepicker-selected,
.ui-timepicker-list li:hover,
.ui-timepicker-list .ui-timepicker-selected:hover {
	background: #1980EC; color: #fff;
}

li.ui-timepicker-selected .ui-timepicker-duration,
.ui-timepicker-list li:hover .ui-timepicker-duration {
	color: #ccc;
}

.ui-timepicker-list li.ui-timepicker-disabled,
.ui-timepicker-list li.ui-timepicker-disabled:hover,
.ui-timepicker-list li.ui-timepicker-selected.ui-timepicker-disabled {
	color: #888;
	cursor: default;
}

.ui-timepicker-list li.ui-timepicker-disabled:hover,
.ui-timepicker-list li.ui-timepicker-selected.ui-timepicker-disabled {
	background: #f2f2f2;
}

/* surrounding tag container */
.tag-editor {
    list-style-type: none; padding: 0 5px 0 0; margin: 0; overflow: hidden; border: 1px solid #eee; cursor: text;
    font: normal 14px sans-serif; color: #555; background: #fff; line-height: 20px;
}

/* core styles usually need no change */
.tag-editor li { display: block; float: left; overflow: hidden; margin: 3px 0; }
.tag-editor div { float: left; padding: 0 4px; }
.tag-editor .placeholder { padding: 0 8px; color: #bbb; }
.tag-editor .tag-editor-spacer { padding: 0; width: 8px; overflow: hidden; color: transparent; background: none; }
.tag-editor input {
    vertical-align: inherit; border: 0; outline: none; padding: 0; margin: 0; cursor: text;
    font-family: inherit; font-weight: inherit; font-size: inherit; font-style: inherit;
    box-shadow: none; background: none; color: #444;
}
/* hide original input field or textarea visually to allow tab navigation */
.tag-editor-hidden-src { position: absolute !important; left: -99999px; }
/* hide IE10 "clear field" X */
.tag-editor ::-ms-clear { display: none; }

/* tag style */
.tag-editor .tag-editor-tag {
    padding-left: 5px; color: #46799b; background: #e0eaf1; white-space: nowrap;
    overflow: hidden; cursor: pointer; border-radius: 2px 0 0 2px;
}

/* delete icon */
.tag-editor .tag-editor-delete { background: #e0eaf1; cursor: pointer; border-radius: 0 2px 2px 0; padding-left: 3px; padding-right: 4px; }
.tag-editor .tag-editor-delete i { line-height: 18px; display: inline-block; }
.tag-editor .tag-editor-delete i:before { font-size: 16px; color: #8ba7ba; content: "×"; font-style: normal; }
.tag-editor .tag-editor-delete:hover i:before { color: #d65454; }
.tag-editor .tag-editor-tag.active+.tag-editor-delete, .tag-editor .tag-editor-tag.active+.tag-editor-delete i { visibility: hidden; cursor: text; }

.tag-editor .tag-editor-tag.active { background: none !important; }

/* jQuery UI autocomplete - code.jquery.com/ui/1.10.2/themes/smoothness/jquery-ui.css */
.ui-autocomplete { position: absolute; top: 0; left: 0; cursor: default; font-size: 14px; }
.ui-front { z-index: 9999; }
.ui-menu { list-style: none; padding: 1px; margin: 0; display: block; outline: none; }
.ui-menu .ui-menu-item a { text-decoration: none; display: block; padding: 2px .4em; line-height: 1.4; min-height: 0; /* support: IE7 */ }
.ui-widget-content { border: 1px solid #bbb; background: #fff; color: #555; }
.ui-widget-content a { color: #46799b; }
.ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover, .ui-state-focus, .ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus { background: #e0eaf1; }
.ui-helper-hidden-accessible { display: none; }

* {
    box-sizing: border-box;
}

.baidu-reg-wrap {
    width: 988px;
    margin: 0 auto;
}

.baidu-reg-wrap table {
    width: 100%;
    margin: 40px 0;
    border-collapse: collapse;
    border: 2px solid #000;
}

.baidu-reg-wrap table input {
    padding-left: 5px;
    outline: none;
}

.baidu-reg-wrap table input, .baidu-reg-wrap table select {
    border: none;
    width: 100%;
    height: 100%;
}

.baidu-reg-wrap th, td {
    border: 1px solid #000;
}

.baidu-reg-wrap th {
    font-weight: bold;
    background-color: #dcdcdc;
    padding: 8px;
}

.baidu-reg-wrap td {
    position: relative;
}

.baidu-reg-wrap .subject-th {
    background-color: #4884fd;
    color: #fff;
    border: 2px solid #000;
    font-size: 16px;
    padding: 8px !important;
}

.baidu-reg-wrap .subject-th:nth-child(1) {
    width: 40%;
}

.baidu-reg-wrap .one-col-th {
    border-right: 2px solid #000;
}

.baidu-reg-wrap .right-col-th {
    border-right: 2px solid #000;
}

.baidu-reg-wrap .times-wrap {
    /*position: absolute;*/
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    font-size: 0;
}

.baidu-reg-wrap .times-wrap div {
    display: inline-block;
    height: 100%;
    font-size: 12px;
}

.baidu-reg-wrap .times-left-wrap, .baidu-reg-wrap .times-right-wrap {
    width: 47.5%;
}

.baidu-reg-wrap .times-center-wrap {
    text-align: center;
    height: 0;
    width: 5%;
}

.baidu-reg-wrap .term-wrap {
    padding: 7px;
}

.baidu-reg-wrap .term-wrap ul li {
    padding: 5px 0;
}

.baidu-reg-wrap .img-reg-table {
    font-size: 14px;
}

.baidu-reg-wrap .img-reg-table th {
    width: 15%;
    padding: 12px;
}

.baidu-reg-wrap .img-reg-table td {
    width: 35%;
}

.baidu-reg-wrap .upload-wrap {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.baidu-reg-wrap .upload-wrap div {
    height: 100%;
}

.baidu-reg-wrap .upload-text-wrap {
    width: 70%;
    float: left;
    padding: 12px;
}

.baidu-reg-wrap .upload-button-wrap {
    position: relative;
    overflow: hidden;
    width: 30%;
    float: right;
}

.baidu-reg-wrap .upload-button-wrap a {
    padding: 13px 0;
    width: 100%;
    display: inline-block;
    color: white;
    background-color: #696969;
    text-align: center;
}

.baidu-reg-wrap .upload-button-wrap input.upload-button {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
}

.baidu-reg-wrap .upload-button::before {
    content: "등록하기";
    cursor: pointer;
    padding: 100px;
    margin: -10px;
}

.baidu-reg-wrap .error-message {
    display: none;
}

.baidu-reg-wrap .has-error {
    cursor: pointer;
}

.baidu-reg-wrap .has-error input {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.baidu-reg-wrap .has-error .tag-editor {
    display: none;
}

.baidu-reg-wrap .has-error .error-message {
    display: block;
    background-color: #fff;
    color: red;
    padding: 8px;
}

#baidu_reg_button {
    cursor: pointer;
    padding: 0;
    border: none;
    background: inherit;
    width: 100%;
}

#baidu_reg_button img{
    width: 100%;
}
/*# sourceMappingURL=baidu.css.map */
